In [ ]:
import pandas as pd

df = pd.read_parquet('../data/processed/merged_final.parquet')

In [6]:
df.shape

(460, 10)

In [4]:
df.head()

,time,TO,sensor1_min,sensor1_max,sensor2_min,sensor2_max,sensor2_mean,sensor3_min,sensor3_max,sensor3_mean
0,1743532199,10540337,65.83,65.27,10.0,98.0,55.59,12.0,99.0,54.11
1,1743618599,10540337,76.09,54.77,10.0,98.0,57.70,10.0,99.0,51.68
2,1743704999,10540337,67.66,66.12,10.0,99.0,50.29,10.0,98.0,53.25
3,1743791399,10540337,83.22,80.61,10.0,99.0,58.97,11.0,98.0,49.92
4,1743877799,10540337,78.29,66.14,10.0,99.0,59.60,10.0,99.0,61.02

In [ ]:
### Task1: Remove specific rows where TO is 10540337 and time is in a given list
# Define the list of time values to exclude for TO == 10540337

In [16]:
# Define the list of time values to exclude for TO == 10540337
exclude_times = [1743532199, 1743704999]  # example times to exclude

# Filter the dataframe
df_filtered = df[~((df['TO'] == 10540337) & (df['time'].isin(exclude_times)))]
df_filtered.head()

,time,TO,sensor1_min,sensor1_max,sensor2_min,sensor2_max,sensor2_mean,sensor3_min,sensor3_max,sensor3_mean
1,1743618599,10540337,76.09,54.77,10.0,98.0,57.70,10.0,99.0,51.68
3,1743791399,10540337,83.22,80.61,10.0,99.0,58.97,11.0,98.0,49.92
4,1743877799,10540337,78.29,66.14,10.0,99.0,59.60,10.0,99.0,61.02
5,1743964199,10540337,73.78,73.39,10.0,98.0,55.03,12.0,99.0,49.74
6,1744050599,10540337,67.30,48.00,10.0,98.0,54.06,11.0,98.0,54.38

In [9]:
df_filtered.shape

(449, 10)

In [17]:
df_filtered.describe()

,time,TO,sensor1_min,sensor1_max,sensor2_min,sensor2_max,sensor2_mean,sensor3_min,sensor3_max,sensor3_mean
count,4.490000e+02,4.490000e+02,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000
mean,1.745466e+09,1.116987e+07,62.861693,64.141871,10.484076,98.314143,56.508797,10.226837,98.492873,55.053118
std,9.235815e+05,3.502822e+06,18.154241,18.329286,0.612138,0.757542,4.538295,1.916968,0.602484,3.910690
min,1.743619e+09,1.003210e+07,20.000000,20.000000,9.720000,96.000000,50.600000,5.000000,96.000000,48.930000
25%,1.744846e+09,1.003210e+07,51.460000,49.560000,10.000000,98.000000,53.950000,9.560000,98.280000,52.760000
50%,1.745260e+09,1.054034e+07,62.480000,67.000000,10.240000,98.460000,56.080000,10.310000,98.600000,54.290000
75%,1.746297e+09,1.054034e+07,78.290000,79.370000,10.830000,99.000000,57.470000,11.390000,99.000000,56.580000
max,1.747766e+09,3.004501e+07,98.000000,98.000000,12.000000,99.180000,79.400000,14.000000,99.120000,71.600000

In [ ]:
### Task2: Remove rows where sensor1_min is less than 50.0 or greater than 35.0

In [10]:
# Get the min and max of 'sensor1_min'
min_value = df_filtered['sensor1_min'].min()
max_value = df_filtered['sensor1_min'].max()
# Filter the dataframe to keep only rows where 'value' > 0.0

In [11]:
min_value, max_value

(np.float64(20.0), np.float64(98.0))

In [23]:
# remove some rows where sensor1_min is less than 50.0 or greater than 35.0
df_filtered = df_filtered[(df_filtered['sensor1_min'] >= 50.0) | (df_filtered['sensor1_min'] <= 35.0)]

In [24]:
df_filtered.shape

(380, 10)

In [27]:
# Task3: remove rows based on filtering condition on time
# For example, remove rows where time is less than a certain threshold
threshold_time = 1743964190  # example threshold
df_filtered = df_filtered[df_filtered['time'] >= threshold_time]

In [28]:
df_filtered.shape

(365, 10)