In [1]:
import os
import pandas as pd

folder = "../data/artifacts/daterange2"
parquet_files = [f for f in os.listdir(folder) if f.endswith(".parquet")]

print(parquet_files)

['training_data1.parquet', 'training_data2.parquet']

In [2]:
dfs = []
columns_set = set()
for file in parquet_files:
    df = pd.read_parquet(os.path.join(folder, file))
    dfs.append(df)
    columns_set.add(tuple(df.columns))

In [ ]:
print(dfs)
dfs

[          time        TO  sensor1_min  sensor1_max  sensor2_min  sensor2_max  \
0   1743532199  10540337        65.83        65.27        10.00        98.00
1   1743618599  10540337        76.09        54.77        10.00        98.00
2   1743704999  10540337        67.66        66.12        10.00        99.00
3   1743791399  10540337        83.22        80.61        10.00        99.00
4   1743877799  10540337        78.29        66.14        10.00        99.00
..         ...       ...          ...          ...          ...          ...
77  1746728999  10540337        81.77        70.40         9.90        98.01
78  1746728999  10540337        96.03        29.12        10.59        97.39
79  1746815399  10540337        30.57        38.09        10.53        98.79
80  1746815399  10540337        47.62        54.37        10.66        99.02
81  1746815399  10540337        26.44        78.26        11.73        98.66

    sensor2_mean  sensor3_min  sensor3_max  sensor3_mean
0          55.59        12.00        99.00         54.11
1          57.70        10.00        99.00         51.68
2          50.29        10.00        98.00         53.25
3          58.97        11.00        98.00         49.92
4          59.60        10.00        99.00         61.02
..           ...          ...          ...           ...
77         55.41        12.23        99.00         49.45
78         56.05        11.32        98.55         54.28
79         55.84        11.95        98.67         57.80
80         54.12        12.53        98.22         54.21
81         52.69        10.92        98.62         51.60

[82 rows x 10 columns],           time        TO  sensor1_min  sensor1_max  sensor2_min  sensor2_max  \
0   1743532199  10540337        65.83        65.27        10.00        98.00
1   1743618599  10540337        76.09        54.77        10.00        98.00
2   1743704999  10540337        67.66        66.12        10.00        99.00
3   1743791399  10540337        83.22        80.61        10.00        99.00
4   1743877799  10540337        78.29        66.14        10.00        99.00
..         ...       ...          ...          ...          ...          ...
77  1746728999  10540337        81.77        70.40         9.90        98.01
78  1746728999  10540337        96.03        29.12        10.59        97.39
79  1746815399  10540337        30.57        38.09        10.53        98.79
80  1746815399  10540337        47.62        54.37        10.66        99.02
81  1746815399  10540337        26.44        78.26        11.73        98.66

    sensor2_mean  sensor3_min  sensor3_max  sensor3_mean
0          55.59        12.00        99.00         54.11
1          57.70        10.00        99.00         51.68
2          50.29        10.00        98.00         53.25
3          58.97        11.00        98.00         49.92
4          59.60        10.00        99.00         61.02
..           ...          ...          ...           ...
77         55.41        12.23        99.00         49.45
78         56.05        11.32        98.55         54.28
79         55.84        11.95        98.67         57.80
80         54.12        12.53        98.22         54.21
81         52.69        10.92        98.62         51.60

[82 rows x 10 columns]]

In [8]:
print(dfs[1])

          time        TO  sensor1_min  sensor1_max  sensor2_min  sensor2_max  \
0   1743532199  10540337        65.83        65.27        10.00        98.00
1   1743618599  10540337        76.09        54.77        10.00        98.00
2   1743704999  10540337        67.66        66.12        10.00        99.00
3   1743791399  10540337        83.22        80.61        10.00        99.00
4   1743877799  10540337        78.29        66.14        10.00        99.00
..         ...       ...          ...          ...          ...          ...
77  1746728999  10540337        81.77        70.40         9.90        98.01
78  1746728999  10540337        96.03        29.12        10.59        97.39
79  1746815399  10540337        30.57        38.09        10.53        98.79
80  1746815399  10540337        47.62        54.37        10.66        99.02
81  1746815399  10540337        26.44        78.26        11.73        98.66

    sensor2_mean  sensor3_min  sensor3_max  sensor3_mean
0          55.59        12.00        99.00         54.11
1          57.70        10.00        99.00         51.68
2          50.29        10.00        98.00         53.25
3          58.97        11.00        98.00         49.92
4          59.60        10.00        99.00         61.02
..           ...          ...          ...           ...
77         55.41        12.23        99.00         49.45
78         56.05        11.32        98.55         54.28
79         55.84        11.95        98.67         57.80
80         54.12        12.53        98.22         54.21
81         52.69        10.92        98.62         51.60

[82 rows x 10 columns]

In [5]:
print(columns_set)
len(columns_set)

{('time', 'TO', 'sensor1_min', 'sensor1_max', 'sensor2_min', 'sensor2_max', 'sensor2_mean', 'sensor3_min', 'sensor3_max', 'sensor3_mean')}

1

In [6]:
if len(columns_set) > 1:
    raise ValueError("Not all files have the same columns!")

combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df.shape)
# Optionally, save the merged DataFrame
combined_df.to_parquet(os.path.join(folder, "merged_training_data.parquet"), index=False)

(164, 10)

In [ ]:
import os
import pandas as pd

folder = "../data/artifacts/daterange2"
parquet_files = [f for f in os.listdir(folder) if f.endswith(".parquet")]

dfs = []
columns_set = set()
for file in parquet_files:
    df = pd.read_parquet(os.path.join(folder, file))
    dfs.append(df)
    columns_set.add(tuple(df.columns))

if len(columns_set) > 1:
    raise ValueError("Not all files have the same columns!")

combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df.shape)
# Optionally, save the merged DataFrame
combined_df.to_parquet(os.path.join(folder, "merged_training_data.parquet"), index=False)

In [11]:
# Convert 'time' column to datetime
combined_df['time'] = pd.to_datetime(combined_df['time'], unit='s')

# Filter columns
filtered_df = combined_df[['time', 'TO', 'sensor1_min']]
filtered_df

                   time        TO  sensor1_min
0   2025-04-01 18:29:59  10540337        65.83
1   2025-04-02 18:29:59  10540337        76.09
2   2025-04-03 18:29:59  10540337        67.66
3   2025-04-04 18:29:59  10540337        83.22
4   2025-04-05 18:29:59  10540337        78.29
..                  ...       ...          ...
159 2025-05-08 18:29:59  10540337        81.77
160 2025-05-08 18:29:59  10540337        96.03
161 2025-05-09 18:29:59  10540337        30.57
162 2025-05-09 18:29:59  10540337        47.62
163 2025-05-09 18:29:59  10540337        26.44

[164 rows x 3 columns]

In [13]:


# Example: filter for rows where time equals a specific datetime
target_time = pd.Timestamp("2025-05-09 18:29:59")  # change to your desired time

filtered_by_time_df = filtered_df[filtered_df['time'] == target_time]
filtered_by_time_df

                   time        TO  sensor1_min
79  2025-05-09 18:29:59  10540337        30.57
80  2025-05-09 18:29:59  10540337        47.62
81  2025-05-09 18:29:59  10540337        26.44
161 2025-05-09 18:29:59  10540337        30.57
162 2025-05-09 18:29:59  10540337        47.62
163 2025-05-09 18:29:59  10540337        26.44